.env
.env.*
!.env.example
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
tests
.phpunit.result.cache
composer.phar
output.txt
